.container {
  max-width: 1440px;
  margin: auto;
  flex-direction: row;
}

.flex {
  display: flex;
}

.aside {
  width: 56%;
}

.content {
  width: 44%;
  background-color: #ffffff;
  padding: 121px 150px 146px 50px;
}

.text {
  font-size: 24px;
  font-weight: 700;
  color: #3a3d42;
  line-height: 40px;
  margin-top: 0px;
}

.text2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}

.formLogin {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.6);
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}

.submitPin {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 90px;
}

.pin {
  width: 100%;
  height: 65px;
  border: 1px solid rgba(169, 169, 169, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputPin {
  width: 90%;
  height: 90%;
  outline-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: 700;
  color: #3a3d42;
  text-align: center;
  /* border-bottom: 1px solid rgba(169, 169, 169, 0.4); */
}

.inputPin::placeholder {
  font-size: 30px;
  color: #3a3d42;
  font-weight: 700;
}

.btn {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6379f4;
  border-radius: 15px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  width: 100%;
  background-color: #6379f4;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  height: 57px;
  border: none;
}

.btn:disabled {
  background-color: #dadada;
  color: #88888f;
}

.btn:hover {
  opacity: 0.8;
}

@media (min-width: 425px) {
  .aside {
    display: none;
  }
  .content {
    width: 100%;
    padding: 50px 20px 300px 20px;
    text-align: center;
  }
  .text {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .text2 {
    margin-bottom: 50px;
  }
  .forgotPwd {
    margin-top: 40px;
  }
  .submitPin {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 50px 100px 300px 100px;
  }
  .formLogin {
    margin: 0px;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .submitPin {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .aside {
    display: block;
    width: 56%;
  }
  .content {
    width: 44%;
    padding: 50px 50px 50px 50px;
    text-align: start;
  }
  .text {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .content {
    padding: 121px 140px 146px 50px;
    text-align: start;
  }
  .submitPin {
    justify-content: space-between;
  }
}
