.container {
  max-width: 1440px;
  /* height: 68px; */
  background-color: #6379f4;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.flex {
  display: flex;
}

.contacts {
  justify-content: space-between;
  gap: 40px;
}

.text1 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(239, 239, 239, 0.9);
  margin: 0px;
}

.text2 {
  font-size: 16px;
  font-weight: 600;
  color: #efefef;
  margin: 0px;
}

@media (min-width: 425px) {
  .container {
    align-items: center;
    padding: 20px;
  }

  .contacts {
    flex-direction: column;
    gap: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    align-items: center;
    padding: 40px;
  }

  .contacts {
    flex-direction: column;
    gap: 0px;
  }
}

@media (min-width: 1024px) {
    .container {
      align-items: center;
      padding: 20px 150px;
      height: 68px;
    }
  
    .contacts {
      flex-direction: row;
      gap: 40px;
    }
  }
