.container {
  max-width: 1440px;
  background-color: rgba(250, 250, 250, 0.98);
  margin: auto;
}

.flex {
  display: flex;
}

.main {
  padding: 40px 150px 35px;
  gap: 20px;
  min-height: 79vh;
}

/* aside */
.aside {
  width: 24%;
}

/* content */
.content {
  width: 76%;
}

.wrapper-info-user {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding-top: 48px;
  padding-bottom: 63px;
}

.img-user {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.user-info {
  flex-direction: column;
  align-items: center;
}

.wrapper-btnEdit {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btnSave {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit > label {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #7a7886;
  margin-left: 15px;  
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.icon-edit {
  width: 15px;
  height: 15px;
}

.inputImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input {
  font-size: 14px;
  font-weight: 700;
  color: #4d4b57;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button_image {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn_save_profile {
  width: 120px;
  height: 40px;
  background-color: #6379F4;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btn_save_profile:active {
  background-color: #93a1ed;
  color: #ffffff;
}

.btn_cancel_profile {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #E5E8ED;
  font-size: 16px;
  font-weight: 700;
  color: #4d4b57;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #4d4b57;
  margin-top: 15px;
}

.phone {
  font-size: 16px;
  font-weight: 400;
  color: #7a7886;
  margin-top: 10px;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.button {
  width: 51%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #4d4b57;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.icon {
  font-size: 24px;
  color: #7e7d84;
}

@media (min-width: 425px) {
  .main {
    padding: 20px;
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .wrapper-title {
    flex-direction: column;
    align-items:flex-start;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 40px;
  }
  .wrapper-title {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .aside {
    display: block;
  }
  .main {
    padding: 40px 150px 35px;
    flex-direction: row;
  }
  .content {
    width: 76%;
  }
  .wrapper-title {
    justify-content: space-between;
    align-items: center;
  }
}