.btn {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6379F4;
    border-radius: 15px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .login {
    width: 120px;
    height: 48px;
    color: #6379F4;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffffff;
  } 

  .login:hover {
    background-color: #ebedfc;
  }

  .signup {
    width: 120px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #6379F4;
  }

  .signup:hover {
    background-color: #4d66f3;
  }

  .try {
    width: 173px;
    height: 57px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #6379F4;
  }

  .continue {
    background-color: #6379F4;
    width: 170px;
    height: 57px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .back {
    background-color: #6379F4;
    width: 197px;
    height: 57px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }

.change-password {
  width: 51%;
  height: 57px;
  background-color: #DADADA;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #88888F;
}
